/* gradient css3 effects found on w3schools.com */
#gradient {
	/* in case gradient doesn't work */
	background: #A775FF;
	/* written for Safari browser 5.1 to 6.0 */
	background: -webkit-linear-gradient(left top, #66E5FF, #A775FF);
	/* written for Opera browser 11.1 to 12.0 */
	background: -o-linear-gradient(bottom right, #66E5FF, #A775FF);
	/* written for Firefox browser 3.6 to 15 */
	background: -moz-linear-gradient(bottom right, #66E5FF, #A775FF);
	/* written for a standard browser */
	background: linear-gradient(to bottom right, #66E5FF, #A775FF);
}

.cirlce-pic {
	width: 25%;
	border-radius: 50%;
	margin: -1% 37.5%;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.04);
}

h1{ 
	text-align: center;
	color: #FCFCFC;
	font-family: Helvetica;
	font-size: 55px;
	font-weight: bold;
	margin-top: 25px;
}

#bio-text {
	text-align: center;
	color: #FCFCFC;
	font-family: Helvetica;
	font-size: 17px;
	margin-top: -5px;
}