.page-links {
	text-align: center;
	margin: 5.5%;
	font-family: Helvetica;
	font-size: 18px;
}

/* link manipulation techniques found on w3schools.com */
#home:link, #home:visited {
	text-decoration: none;
	border: solid;
	color: rgba(252, 252, 252, 0.6);
	border-color: rgba(252, 252, 252, 0.6);
	border-radius: 3%;
	padding: 5px 15px 5px;
}

#home:hover {
	background-color: #FCFCFC;
	border-color: #FCFCFC;
	color: rgb(125, 190, 255);
}

#bio:link, #bio:visited {
	text-decoration: none;
	border-style: solid;
	color: rgba(252, 252, 252, 0.6);
	border-color: rgba(252, 252, 252, 0.6);
	border-radius: 3%;
	margin-left: 17px;
	padding: 5px 27px 5px;
}

#bio:hover {
	background-color: #FCFCFC;
	border-color: #FCFCFC;
	color: rgb(121, 196, 255);	
}

#resume {
	text-decoration: none;
	border-style: solid;
	border-radius: 3%;
	margin-left: 17px;
	padding: 5px 5px 5px;
	background-color: #FCFCFC;
	border-color: #FCFCFC;
	color: rgb(125, 190, 255);	

}

/* gradient css3 effects found on w3schools.com */
#gradient {
	/* in case gradient doesn't work */
	background: #A775FF;
	/* written for Safari browser 5.1 to 6.0 */
	background: -webkit-linear-gradient(left top, #66E5FF, #A775FF);
	/* written for Opera browser 11.1 to 12.0 */
	background: -o-linear-gradient(bottom right, #66E5FF, #A775FF);
	/* written for Firefox browser 3.6 to 15 */
	background: -moz-linear-gradient(bottom right, #66E5FF, #A775FF);
	/* written for a standard browser */
	background: linear-gradient(to bottom right, #66E5FF, #A775FF);
}

body {
	height: 100vh;
}

.cirlce-pic {
	width: 25%;
	border-radius: 50%;
	margin: -1% 37.5%;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.04);
}

h1{ 
	text-align: center;
	font-family: Helvetica;
	font-size: 55px;
	font-weight: bold;
	margin-top: 25px;
}

#resume-body {
	background-color: #FCFCFC;
	border: solid #FCFCFC;
	margin-left: 5%;
	margin-right: 5%;
	font-family: Helvetica;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
}

#email {
	text-align: center;
	margin-top: -35px;
	font-size: 22px;
}

#education {
	padding-left: 15px;
}

h2 {
	border-bottom: 2px solid #777777;
	font-size: 24px;
}

h3 {
	margin-top: -7px;
	font-size: 16px;
}

li {
	margin-top: -14px;
	padding-left: 5px;
}

.extra-li {
	margin-top: 2px;
}

.detail {
	list-style-type: none;
	text-indent: -45px;
	margin-top: -15px;
}

.other-detail {
	list-style-type: none;
	text-indent: -45px;
	margin-top: 0px;
}

#footer {
	text-align: center;
	color: #DADADA;
	font-family: Helvetica;
	font-size: 12px;
	margin-top: 25px;
	padding-bottom: 10px;
}

a {
	color: #CCCCCC;
}